@use "../utils/helpers" as *;

body {
  @media #{$breakpoint-up-lg} {
    background-image: url('#{$assets}/icons/tree-icon.svg');
    background-repeat: no-repeat;
    background-position: 350% 450px;
  }
}

.wrapper {
  flex-grow: 1;

  &.wrapper_type_bg {
    @media #{$breakpoint-up-lg} {
      @include before;
    }

    &:before {
      @media #{$breakpoint-up-lg} {
        @include zi(1);
        @include pos(70%,0);
        right: 0;
        bottom: 0;
        background: url('#{$assets}/icons/tree-icon.svg') no-repeat -400% bottom rgba(0,0,0,0);
      }
    }
  }
}

.wrapper__inner {
  @include zi(2);
}
