@use "../utils/helpers" as *;

.accordion-item {
  &.is-active {
    .accordion-title {
      &:after {
        content: '-';
      }
    }

    .accordion-content {
      display: block;
      animation: show 0.5s;
    }
  }
}

.accordion-title {
  @extend %d-flex-ai-center;
  justify-content: space-between;
  gap: 0 10px;
  cursor: pointer;

  &:after {
    content: '+';
    font-size: 1.2em;
  }
}

.accordion-content {
  display: none;
  transition: all .3s ease;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
