@use "../utils/helpers" as *;

.btn {
  width: 100%;
  max-width: 174px;
  min-height: 38px;
  padding: 6px 10px;
  color: var(--color-white);
  font-weight: var(--fw-medium);
  line-height: var(--line-height-body);
  border-radius: 25px;
  background-color: var(--color-primary);
}
