@use "../utils/helpers" as *;

.contacts {
  @extend %d-flex-column;
  gap: 10px 0;
}

.contacts__item {
  @extend %d-flex-ai-center;
  @include fs-lh(var(--font-size-xs),18px);
  font-weight: var(--fw-light);
  gap: 0 8px;

  @media #{$breakpoint-up-md} {
    @include fs-lh(var(--font-size-md),var(--line-height-body));
    font-weight: var(--fw-normal);
  }

  &.contacts__item_fs_sm {
    @media #{$breakpoint-up-md} {
      @include fs-lh(var(--font-size-sm),18px);
    }
  }
}
