@use "../utils/helpers" as *;

.logo {
  @extend %d-flex-ai-center;
  gap: 0 8px;
  max-width: 276px;
  font-size: 64px;
  font-weight: var(--fw-bold);
  color: var(--color-primary);
  text-transform: uppercase;
  border-radius: 30px;

  &.logo_bg_white {
    @media #{$breakpoint-up-md} {
      max-width: 336px;
      padding: 8px 30px;
      background-color: var(--color-white);
    }
  }
}

.logo__caption {
  @extend %d-flex-column;
  gap: 8px 0;
  font-family: var(--font-family-title);
  font-size: 22px;
  font-weight: var(--fw-bold);
}

.logo__icons {
  @extend %d-flex-ai-center;
  gap: 0 10px;
}
