@use "../utils/helpers" as *;

.search-form {
  @extend %d-flex-ai-center;
  order: 1;
  flex-direction: row-reverse;
  background-color: var(--color-transp);

  @media #{$breakpoint-up-sm} {
    order: 2;
    flex-direction: row;
    border-radius: 14px;
    border: 1px solid var(--color-dark);
    background-color: var(--color-white);
  }

  @media #{$breakpoint-up-md} {
    max-width: 216px;
  }

  &.search-form_hidden {
    @media #{$breakpoint-only-sm} {
      display: none;
    }
  }
}

.search-form__btn {
  @extend %d-flex-column;
  @extend %d-flex-centered;
  @include wh(28px);
  @include fw(28px);
  border-radius: 50%;
  transform: translateX(-2px);
  color: var(--color-primary);

  @media #{$breakpoint-up-sm} {
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
  }
}

.search-form__field {
  width: 100%;
  padding: 0 16px 0 8px;
  font-size: var(--font-size-sm);
}
