@use "../utils/helpers" as *;

.social {
  gap: 0 10px;

  &.social_hidden {
    @extend %d-flex-ai-center;
    display: none;

    @media #{$breakpoint-up-xs} {
      display: flex;
    }
  }

  &.social_jc_end {
    justify-content: flex-end;
  }
}
