@use "../utils/helpers" as *;

.tab-section {
  @extend %d-flex-column;
  gap: 10px 0;

  @media #{$breakpoint-up-md} {
    gap: 0 50px;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px 0 0 30px;
  }
}

.tab-nav {
  @extend %d-flex-wrap;
  gap: 5px;

  @media #{$breakpoint-up-md} {
    @include fw(320px);
    gap: 20px 0;
    padding: 20px 0;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.tab-content {
  flex-grow: 1;
}
