@use './breakpoints' as *;
@use './mixins' as *;

html {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  @include fs-lh(var(--font-size-body),1);
  font-family: var(--font-family-body);
  color: var(--color-basic);
  background-color: var(--color-light-blue);
  padding-bottom: 10px;
}

.wrapper {
  flex-grow: 1;
}

.container {
  @include px(10px);
  @include mx(auto);
  max-width: 1310px;

  @media #{$breakpoint-up-sm} {
    @include px(15px);
  }
}

.td-underline {
  text-decoration: underline;
}

.img-cover {
  @include object-fit();
}

.readmore-link {
  @include fs-lh(var(--font-size-lg),26px);
  font-family: var(--font-family-title);
  color: var(--color-primary);

  &.readmore-link_fs_lg {
    @include fs-lh(32px,44px);
    font-weight: var(--fw-light)
  }
}

.icon-fluid {
  @include object-fit();
  pointer-events: none;
}

.zi-2 {
  @include zi(2);
}

.w-auto {
  width: auto;
}

.h-auto {
  height: auto;
}
