:root {
  --font-family-body: 'GothamPro';

  --font-size-xxl: 50px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-body: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  --fw-normal: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --color-white: #ffffff;
  --color-transp: rgba(0,0,0,0);
}
